html,
body {
	width: 100%;
	height: 100%;
	background: #F5F5F5;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.body {
	width: 100%;
	height: 100%;
	display: box;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.div_top {
	width: 100%;
	-webkit-flex-shrink:0;
	flex-shrink:0;
	background: white;
	margin-bottom: 0.1rem;
}

.div_top li {
	width: 100%;
	height: 0.44rem;
	padding: 0 0.16rem;
	border-top: 0.01rem solid #F5F5F5;
	font-family: PingFangSC-Medium;
	font-size: 0.14rem;
	display: box;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}

.div_top li span:nth-of-type(1) {
	color: #666666;
}

.div_top li span:nth-of-type(2) {
	color: #333333;
	font-weight: 500;
}

.div_top li .look {
	color: #4A90E2 !important;
}

.div_bottom {
	width: 100%;
	-webkit-flex-grow:1;
	flex-grow:1;
	background: white;
	padding: 0 0.16rem 0.1rem 0.22rem;
	border-top: 0.01rem solid #E4E4E4;
}

.title {
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	font-weight: bold;
	padding: 0 0.16rem;
	background: white;
}

.div_bottom li {
	width: 100%;
	padding-bottom: 0.26rem;
	padding-left: 0.22rem;
	border-left: 0.01rem solid #DDDDDD;
	font-family: PingFangSC-Regular;
	font-size: 0.12rem;
	color: #C4C4C4;
	box-sizing: border-box;
}

.div_bottom .div_flex {
	width: 100%;
	display: box;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-bottom: 0.1rem;
	position: relative;
}

.div_bottom .div_flex span {
	display: block;
	width: 0.14rem;
	height: 0.14rem;
	background: #D8D8D8;
	border-radius: 50%;
	position: absolute;
	left: -0.29rem;
}

.div_bottom .div_flex p:nth-of-type(1) {
	font-size: 0.14rem;
	color: #999999;
}

.div_bottom li:nth-of-type(1) {
	margin-top: 0.17rem;
}

.div_bottom li:last-child p:nth-of-type(1) {
	color: #333333;
}

.div_bottom li:last-child {
	color: #666666;
	padding-bottom: 0;
	border: none;
}

.div_bottom li:last-child span {
	background: #FD664B;
}