body,
html {
	width: 100%;
	height: 100%;
	list-style: none;
	touch-action: none;
	background: #F5F5F5;
	overflow: auto;
}

.body {
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	height: 1.23rem;
	background: #FFDB45;
}

.header .title {
	width: 100%;
	padding-right: 0.16rem;
	font-size: 0.13rem;
	color: #333333;
	padding-left: 0.185rem;
	padding-top: 0.14rem;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}

.header .title img {
	width: 0.22rem;
	height: 0.22rem;
}

.header p {
	height: 0.3rem;
	line-height: 0.3rem;
	padding-left: 0.16rem;
	background: #FCD431;
	font-size: 0.12rem;
	color: #333333;
}

.header .money {
	font-family: PingFangSC-Medium;
	font-size: 0.34rem;
	color: #333333;
	line-height: 0.28rem;
	margin: 0.14rem 0 0.19rem 0;
	padding-left: 0.16rem;
}

.content ul {
	width: 100%;
	margin-top: 0.1rem;
	background: white;
}

.content ul li {
	width: 100%;
	height: 0.44rem;
	padding: 0 0.16rem;
	border-bottom: 0.01rem solid #E4E4E4;
	display: box;
	font-size: 0.14rem;
	font-family: PingFangSC-Medium;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}

.content ul li span:nth-of-type(1) {
	color: #666666;
}

.content ul li span:nth-of-type(2) {
	font-weight: 500;
	color: #333333;
}

.content ul li .look {
	color: #4A90E2 !important;
}

.detail {
	width: 100%;
	text-align: center;
}

.detail button {
	width: 80%;
	height: 0.48rem;
	border-radius: 0.24rem;
	font-family: PingFangSC-Medium;
	font-weight: bold;
	font-size: 0.16rem;
	color: #333333;
	border: none;
	outline: none;
}

.detail button:nth-of-type(1) {
	background: #FFDB45;
	box-shadow: 0 0.12rem 0.09rem -0.05rem rgba(255, 219, 69, 0.50);
	margin-bottom: 0.16rem;
	margin-top: 0.44rem;
}

.detail button:nth-of-type(2) {
	background: #FFFFFF;
	box-shadow: 0 0.12rem 0.09rem -0.05rem rgba(237, 237, 237, 0.50);
}

.main {
	width: 100%;
	background: white;
	padding: 0.16rem 0.16rem 0 0.16rem;
}

.main_boay {
	display: flex;
}

.main_boay:nth-of-type(1) {}

.main_div1 {
	flex-shrink: 0;
	margin-right: 0.19rem;
}

.main_div1 p {
	font-size: 0.14rem;
	color: #333333;
}

.main_div1 span {
	font-size: 0.12rem;
	color: #999999;
}

.main_div2 {
	flex-grow: 1;
	border-left: 0.01rem solid #D8D8D8;
	padding-left: 0.168rem;
	box-sizing: border-box;
	padding-bottom: 0.155rem;
}

.main .main_boay:last-child .main_div2 {
	padding-bottom: 0;
	border-left: none;
}

.main_div2 .div_flex {
	font-size: 0.16rem;
	color: #333333;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.main_div2 .div_flex span:nth-of-type(1) {
	display: block;
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 50%;
	background: #D8D8D8;
	position: absolute;
	left: -0.22rem;
}

.main_div2 .div_flex p {
	font-size: 0.16rem;
	color: #333333;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border-bottom: none;
}

.main_div2 .div_flex span:nth-of-type(2) {
	display: inline-block;
	height: 0.18rem;
	line-height: 0.18rem;
	background: #CBCBCB;
	border-radius: 0.09rem;
	font-size: 0.1rem;
	color: #FFFFFF;
	padding: 0 0.03rem;
}

.main_div2 p {
	font-size: 0.12rem;
	color: #999999;
	margin-top: 0.08rem;
	padding-bottom: 0.07rem;
	border-bottom: 0.01rem solid #EDEDED;
}

.success {
	width: 100%;
	margin-top: 0.1rem;
}

.success .title {
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.14rem;
	color: #333333;
	padding-left: 0.16rem;
	background: white;
	border-bottom: 0.01rem solid #E4E4E4;
}

.success .but {
	width: 100%;
	text-align: center;
	margin-top: 0.34rem;
	margin-bottom: 0.4rem;
}

.success button {
	width: 80%;
	height: 0.48rem;
	margin: 0 auto;
	background: #FFDB45;
	box-shadow: 0 0.12rem 0.09rem -0.05rem rgba(255, 219, 69, 0.50);
	border-radius: 0.24rem;
	font-family: PingFangSC-Medium;
	font-size: 0.16rem;
	color: #333333;
	font-weight: bold;
	border: none;
	outline: none;
}

.issue {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.50);
	display: table;
	position: fixed;
	top: 0;
	left: 0;
}

.issue .is_div {
	display: table-cell;
	vertical-align: middle;
}

.issue .is_div .mm {
	width: 72%;
	padding: 0.3rem 0.3rem 0 0.3rem;
	margin: 0 auto;
	background: white;
	font-size: 0.12rem;
	color: #333333;
}

.issue .is_div .mm p {
	line-height: 0.2rem;
	margin-bottom: 0.08rem;
}

.issue .is_div .mm p:nth-of-type(4) {
	color: #999999;
	margin-top: 0.18rem;
}

.issue .is_div .mm div {
	width: 100%;
	height: 0.55rem;
	line-height: 0.55rem;
	text-align: center;
	font-size: 0.18rem;
	color: #FFBA1B;
	border-top: 0.01rem solid #EDEDED;
}

.display {
	display: box;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}