<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/vue.min.js"></script>
	    <script src="../js/vue-resource.js"></script>
	    <style>
	    	*{
				margin: 0;
				padding: 0;
				list-style: none;
			}
			div{
				width: 300px;
				margin:  100px auto;
			}
			div input{
				width: 300px;
				height: 30px;
			}
			div ul{
				width: 300px;
			}
			div ul li{
				width: 300px;
				height: 30px;
				border: 1px solid red;
				line-height: 30px;
				overflow: hidden;
			}
			p{
				line-height: 40px;
			}
			.active{
				background: #ccc;
				color: white;
			}
	    </style>
	</head>
	<body>
		<div id="box">
			<input type="text"
				 @keyup="get($event)"
				 v-model="t1" 
				 @keydown.down="xia()"  
				 @keydown.up.prevent="shang()"/>
		<ul>
		    <li v-for="(item,index) in arr" :class="{active:index==num}">{{item}}</li>
		</ul>
            <!--<p v-if="arr.length==0">暂无数据</p>-->
		</div>
	</body>
	<script>
		new Vue({
			el:"#box",
			data:{
                  t1:"",
                  arr:[],
                  num:-1 
			},
			methods:{
				
			  get(ev){  
			  	if(ev.keyCode==38||ev.keyCode==40)return false;
			  	if(ev.keyCode==13){
window.open('https://www.baidu.com/s?ie=utf-8&f=3&rsv_bp=0&rsv_idx=1&tn=baidu&wd='+this.t1)
			  	}
			  	this.$http.jsonp("https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su",{
			  	     params:{
			  	     	wd:this.t1
			  	     },
			  	     jsonp:"cb"
			  	}).then(function(res){
			  			this.arr=res.data.s
			  		})
				},
				xia(){
					this.num++;
					if(this.num==this.arr.length){
						this.num=0
					}
					this.t1=this.arr[this.num]
				},
				shang(){
					this.num--;
					if(this.num==-1){
						this.num=this.arr.length-1
					}
					this.t1=this.arr[this.num]
				}
			}
		})
	</script>
</html>
