<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商城</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0" />
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<link rel="stylesheet" type="text/css" href="static/css/store_market.css?v=20181030" />
		<link rel="stylesheet" type="text/css" href="../static/css/common/reset.min.css" />
	</head>

	<body>
		<div class="mk_body">
			<div class="mk_ma">
				<div class="mk_nav">
					<li v-for="(item,index) in arr1" :class="{active:iNum==index}" v-text="item.channelName" v-bind:id="item.id" @click="list($event,index)"></li>
				</div>
				<div class="mk_main">
					<div class="main_A">
						<div @click="pageSkip(obj.channelName)">
							<img :src="obj.banner" class="banner" />
						</div>
					</div>
					<div class="main_B" v-for="(item,index) in arr">
						<div class="B_header">
							<p v-text="item.name"></p>
						</div>
						<div class="B_main">
							<li v-for="(item,index) in item.channelList">
								<div @click="pageSkip(item.channelName)">
									<img :src="item.channelImg" alt="" />
									<p v-text="item.channelName"></p>
								</div>
							</li>
						</div>
					</div>
					<div class="dixian">亲，我已到底线</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../static/js/common.js"></script>
	<script src="../static/js/bridge.js"></script>
	<script src="../static/js/common/jquery.min.js"></script>
	<script src="../static/js/common/vue.min.js"></script>
	<script type="text/javascript">
		$(function() {
			var aUrl = apiDomain();
			var webUrl = webDomain();
			$.ajax({
				type: "post",
				url: aUrl + "product/channel_list",
				dataType: 'JSON',
				async: true,
				success: function(res) {
					if(res.status == 2000) {
						new Vue({
							el: ".mk_body",
							data: function() {
								return {
									iNum: 0,
									arr1: [],
									arr: [],
									obj: {},
									cache: [],
									arrAy: [],
								}
							},
							methods: {
								pageSkip: function(channelName) {
									skipPage(0, webUrl + "store/details/like_goods_list.html?key=" + channelName);
									//									skipPage(0, "details/like_goods_list.html?key=" + channelName);
								},
								ajax: function(that, index) {
									that.arr1 = res.data;
									var id = res.data[index].id;
									that.$options.methods.oBanner(index, that);
									that.$options.methods.Listdetails(id, that);
								},
								list: function(e, index) {
									this.iNum = index;
									var Id = parseInt($(e.target).attr("id"));
									$(".mk_main").scrollTop(0)
									this.$options.methods.oBanner(index, this);
									var tt = false;
									var num = '';
									for(var i = 0; i < this.cache.length; i++) {
										if(this.cache[i] == Id) {
											tt = true;
											num = i;
										}
									};
									if(tt == true) {
										this.arr = this.arrAy[num];
									} else {
										this.$options.methods.Listdetails(Id, this);
									}
								},
								Listdetails: function(id, that) {
									$.ajax({
										type: "get",
										url: aUrl + "product/channel_detail",
										data: {
											id: id
										},
										dataType: 'JSON',
										async: true,
										success: function(res) {
											if(res.status == 2000) {
												that.arr = res.data;
												that.arrAy.push(res.data);
												that.cache.push(id);
											}
										}
									});
								},
								oBanner: function(index, that) {
									that.obj = {
										banner: that.arr1[index].channelImg,
										channelName: that.arr1[index].channelName
									}
								}
							},
							created: function() {
								var that = this;
								this.ajax(that, 0);
							}
						})
					}
				}
			});
		})
	</script>

</html>