<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<link rel="stylesheet" type="text/css" href="../../static/css/common/reset.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/order_details.css?v=8" />
		<link rel="stylesheet" type="text/css" href="../../static/css/common/mui.min.css" />
		<title>订单详情</title>
	</head>

	<body>
		<div class="body">
			<div class="take display" style="display: none;">
				<!--待收货-->
				<div class="div1 display">
					<div class="div1_A">
						<img src="../static/img/ic_logistics.png" />
					</div>
					<div class="div1_B">
						<p>您的商品已经由<b v-text="deliveryName"></b>配送</p>
						<p>运单号：<span v-text="deliveryNo"></span></p>
					</div>
				</div>
				<div class="div2">
					<!--<img src="../static/img/right.png" />-->
				</div>
			</div>
			<!--待付款-->
			<!--<div class="obligation display" style="display: none;">
				<img src="../static/img/ic_alarm.png" />
				<p>等待买家付款，剩<span v-text="minutes"></span>分钟自动关闭</p>
			</div>-->
			<div class="site">
				<img src="../static/img/address_line.png" alt="" class="borderImg_A" />

				<div class="site_B display">
					<div>
						<p><span style="margin-right: 0.2rem;" v-text="receiveName"></span><span v-text="receivePhone"></span></p>
						<p><span v-text="receiveDetail"></span></p>
					</div>
					<div>
						<!--<img src="../static/img/right.png" />-->
					</div>
				</div>
				<img src="../static/img/address_line.png" alt="" class="borderImg_B" />
			</div>
			<div class="order_num display">
				<span>订单编号：<b v-text="orderNo"></b></span><span v-text="orderStatus"></span>
			</div>
			<div class="details">
				<li class="display" v-for="item in productList">
					<div>
						<img :src="item.productImg" />
					</div>
					<div class="display">
						<p v-text="item.productName"></p>
						<p></p>
						<p class="display money_discount" v-if="!item.discountPrice"><span class="money"><b v-text="money(item.productPrice)"></b></span><span>x1</span></p>
						<p class="display money_product" v-else><span class="money"><b v-text="money(item.discountPrice)"></b><strike v-text="money(item.productPrice)"></strike></span><span>x1</span></p>
					</div>
				</li>
			</div>
			<ul class="introduce">
				<li>
					<span>商品金额</span><span><b class="productAmount" v-text="money(productAmount)"></b></span>
				</li>
				<li>
					<span>运费</span><span><b class="deliveryAmount" v-text="money(deliveryAmount)"></b></span>

				</li>
				<li v-if="remark !=''">
					<span>备注：</span>
					<span class="remark" v-text="remark"></span>
				</li>
				<li>
					<span>订单总额</span><span>共1件商品，总计：<b v-text="money(orderAmount)"></b></span>
				</li>
			</ul>
			<!--待收货-->
			<div class="footer display" style="display: none;">
				<button>联系客服</button>
				<div>
					<p>订单编号：<span v-text="orderNo"></span></p>
					<p>创建时间：<span v-text="createTime"></span></p>
					<p>付款时间：<span v-text="payFinishTime"></span></p>
					<p>发货时间：<span v-text="deliveryTime"></span></p>
					<p class="success" style="display: none;">成交时间：<span v-text="receiveTime"></span></p>
				</div>
			</div>
			<!--待付款-->
			<div class="call display" style="display: none;">
				<button @click="call()">取消订单</button>
				<button @click="pay()" class="pay">立即支付</button>
			</div>
		</div>
	</body>
	<script src="../../static/js/common.js"></script>
	<script src="../../static/js/bridge.js"></script>
	<script src="../../static/js/common/jquery.min.js"></script>
	<script src="../../static/js/common/mui.min.js"></script>
	<script src="../../static/js/common/vue.min.js"></script>
	<script>
		$(function() {
			var domain = apiDomain();
			var token = getToken();
			var orderId = queryUrlParam("orderId");
			var webUrl = webDomain();
			$.ajax({
				type: "post",
				url: domain + "/product_order/order_detail",
				async: true,
				dataType: 'json',
				data: {
					token: token,
					orderId: orderId
				},
				success: function(data) {
					if(data.status == 2000) {
						const datr = data.data;
						var orderStatus = datr.orderStatus
						if(orderStatus == "待付款") {
							$("title").html("付款详情")
							//				$(".obligation").show();
							$(".call").show();
						} else if(orderStatus == "待收货") {
							$("title").html("待收货订单");
							$(".footer").show();
							$(".take").show();
						} else if(orderStatus == "交易成功") {
							$("title").html("交易完成订单");
							$(".footer").show();
							$(".take").show();
							$(".success").show();
						}
						new Vue({
							el: ".body",
							data: function() {
								return {
									deliveryName: datr.deliveryName,
									deliveryNo: datr.deliveryNo,
									receiveName: datr.receiveName,
									receivePhone: datr.receivePhone,
									receiveDetail: datr.receiveDetail,
									orderNo: datr.orderNo,
									orderStatus: datr.orderStatus,
									productAmount: datr.productAmount,
									deliveryAmount: datr.deliveryAmount,
									remark: datr.remark,
									orderAmount: datr.orderAmount,
									createTime: datr.createTime,
									payFinishTime: datr.payFinishTime,
									deliveryTime: datr.deliveryTime,
									receiveTime: datr.receiveTime,
									productList: datr.productList,
								}
							},
							mounted: function() {
								const that = this;
								this.time(that);
							},
							methods: {
								call: function() {
									//取消订单
									var token = getToken();
									if(!token) {
										closeAndOpen(1);
										return;
									};
									mui.confirm('是否取消订单？', '提示', ['否', '是'], function(e) {
										if(e.index == 1) {
											$.ajax({
												type: "post",
												url: domain + "/product_order/order_change",
												async: true,
												dataType: 'json',
												data: {
													token: token,
													orderId: orderId,
													status: 51
												},
												success: function(data) {
													if(data.status == 2000) {
														mui.alert("取消订单成功", '提示', '确定', function() {
									                        var ua = navigator.userAgent.toLowerCase();
															if(/iphone|ipad|ipod/.test(ua)) {
																skipPage(2, webUrl + "store/order/store_order_list.html");
															} else {
																closeAndOpen(3);
																skipPage(1, webUrl + "store/order/store_order_list.html");
															}
														});
													} else {
														mui.alert(data.message)
													}
												}
											});
										}
									})
								},
								pay: function() {
									//去付款
									var token = getToken();
									if(!token) {
										closeAndOpen(1);
										return;
									};
									skipPage(1, webUrl + "store/details/pay.html?orderNo=" + this.orderNo + "&orderAmount=" + this.orderAmount);
								},
								money: function(num) {
									var result = parseFloat(num);
									if(isNaN(result)) {
										return false;
									}
									result = Math.round(num * 100) / 100;
									var s_x = result.toString();
									var pos_decimal = s_x.indexOf('.');
									if(pos_decimal < 0) {
										pos_decimal = s_x.length;
										s_x += '.';
									}
									while(s_x.length <= pos_decimal + 2) {
										s_x += '0';
									}
									return '￥' + s_x;
								}
							}
						})

					}
				}
			});
		})
	</script>

</html>